venv
__pycache__
data
lightning_logs
saved_models
saved_images
sample_predictions
.env

# MLFlow
mlruns
mlartifacts

# Ignore Kubernetes config files that expose the ports
cluster-config-processed.yaml
ingress-config-processed.yaml

# Ignore deployment config files (e.g., "orchestration-deploy-config.yaml")
*-deployment-config.yaml 